@tailwind base;
@tailwind components;
@tailwind utilities;

.search-input {
  background-color: #f2f3fa;
}
.search-icon {
  background-color: #f2f3fa;
}
main {
  background-color: #ececec;
}
@media (min-width: 1280px) {
  .container {
    width: 1600px !important;
  }
}
